 <!--===================================================================
Scripts
====================================================================-->
<script src="{{ 'assets/js/jquery-1.11.0.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jpreloader.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.mousewheel.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.easing-1.3.pack.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.stellar.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/owl.carousel.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.carouFredSel-6.2.1-packed.js' | relative_url }}"></script>
<script src="{{ 'assets/js/tweetie.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.sticky.js' | relative_url }}"></script>
<script src="{{ 'assets/jPlayer/jquery.jplayer.min.js' | relative_url }}"></script>
<script src="{{ 'assets/jPlayer/add-on/jplayer.playlist.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.vegas.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/css3-animate-it.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.fractionslider.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.mCustomScrollbar.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.waitforimages.js' | relative_url }}"></script>
<script src="{{ 'assets/js/video.js' | relative_url }}"></script>
<script src="{{ 'assets/js/bigvideo.js' | relative_url }}"></script>
<script src="{{ 'assets/js/main.js' | relative_url }}"></script>
<script>

  $('body').jpreLoader({
    splashID: "#jSplash",
    loaderVPos: '50%',
    autoClose: true,
  });
/*====================================================================
  Put Your Google Tracker Code here
  ===================================================================*/
</script>