---
layout: default
--- 
<div class="wide_layout box-wide">
  {% include video-banner.html %}
  {% include header.html %}
  <div class="sections_wrapper">
  {% for feature in page.features %}
      {% case feature.handle %}
        {% when 'news' %}
         <section id="section_2" class="news_section section_first">
                 <div class="container animatedParent ">
                      <div class="row">
                           <div class="col-xs-12">
                                <div class="section_head_widget">
                                  {% if feature.title %}
                                     <h2 class="animated fadeInDown">{{ feature.title }}</h2>
                                  {% endif %}
                                  {% if feature.subtitle %}
                                     <h5 class="animated fadeInLeft">{{ feature.subtitle }}</h5>
                                  {% endif %}
                                </div>
                           </div>
                     </div>
                 </div>
                 <div class="news_widget"> 
                     <div class="container controls_wrapper animatedParent ">
                          <div class="carousel_controls"> <span id="news-prev"
                               class="fa fa-angle-left animated fadeInLeft"></span>
                               <span id="news-next" class="fa fa-angle-right animated bounceInRight "></span> 
                          </div>
                     </div>
                     <div class="news_carousel animatedParent ">
                      {% for post in site.posts limit: 6 %}
                        <div class="news_box fadeInUp animated">
                             <figure><img src="{{ post.image }}" alt="{{ post.alt_image }}" /></figure>
                             <div class="news_info_wrapper">
                                  <div class="news_info">
                                       <h5>{{ post.title }}</h5>
                                          {% for subsubsection in post.subsections  %}
                                             <ul class="news_meta">
                                                 <li>{{ subsubsection.author }}</li>
                                                 <li>{{ subsubsection.date |  date: "%b %-d %Y" }}</li>
                                             </ul>
                                          {% endfor %}  
                                       <h6>{{ post.coments }}</h6>
                                 </div>
                             </div>
                             <div class="hover">
                                 <a class="triggerNews" href="{{ post.url }}" data-number="{{forloop.index}}">
                                   Leer
                                 </a>
                             </div>
                        </div>
                    {% endfor %}    
                    </div>
                 </div>
         </section>
         <section id="newsAjaxWrapper" class="container">
                  <a class="closeNewsAjax" href="#section_2"><i class="fa fa-times"></i></a>
                  <div id="newsAjax" class="content_expander"></div>
         </section>
        {% when 'testimonial' %}
         <div id="section_6" class="parallax parallax_two testimonial" data-stellar-background-ratio="0.5">
              <div class="parallax_inner">
                   <div class="container">
                        <div class="row">
                             <div class="col-xs-12">
                                  <div class="testimonial_quotes owl-carousel owl-theme ">
                                       {% for subsection in feature.subsections %}
                                        <blockquote> 
                                           <b class="fa fa-quote-left"></b> 
                                                {{ subsection.parrafo }}
                                           <b class="fa fa-quote-right"></b> 
                                              <a class="author_name"
                                              href="{{ subsection.link }}">by
                                              {{ subsection.name }}
                                             </a> 
                                        </blockquote>
                                        {% endfor %}    
                                  </div>
                             </div>
                        </div>
                   </div>
                <a href="#" class="btn_itunes"><span class="fa fa-music"></span>poison itunes</a>
            </div>
         </div>
        {% when 'media-section' %}
         <section id="section_7" class="media_section">
                  <div class="container">
                       <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                 <div class="section_head_widget animatedParent">
                                      <h2 class="animated fadeInLeft">{{ feature.title }}</h2>
                                      <h5 class="animated bounceInUp">{{ feature.subtitle | strip_html }}</h5>
                                 </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 text-right">
                              {% assign postsInYear = site.gallery | group_by_exp: 'post', 'post.date | date: "%Y"'%}
                                 <div class="btn-group">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                              2014 <span class="fa fa-caret-down"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu">
                                        {% for year in postsInYear %}
                                          <li><a href="#{{ year.name }}">{{ year.name}}</a></li>
                                        {% endfor %}
                                      </ul>
                                 </div>
                            </div>
                       </div>
                       <div class="row media_widget">
                        {% include media-section.html %}
                       </div>
                  </div>
         </section>
         {% include gallery-modal-fade.html %}
        {% when 'about-section' %}
         <section id="section_12" class="about_section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section_head_widget animatedParent ">
                        <h1 class="animated fadeInDown">{{ feature.title }}</h1>
                        <h4>{{ feature.subtitle }}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="text_widget">
                        {{ feature.description  | strip_html  }}
                    </div>
                </div>
            </div>
        </div>
         </section>
         {% when 'footer' %}
         <footer id="section_13" class="parallax parallax_five footer" data-stellar-background-ratio="0.5">
             <div class="parallax_inner">
               <div class="container">
                 <div class="contact_Us">
                   <div class="tabs-wrap tabs-wrap-active clearfix">
                     <ul class="tabs">
                       {% for subsection in feature.subsections %}
                       <li class="tab-link {% if forloop.first %}tab-link1 active {%else%} tab-link2 {%endif%}" 
                           data-tab="{{ subsection.handle }}">
                         <span>{{ subsection.title }}</span>
                       </li>
                       {% endfor %}
         
                     </ul>
                   </div>
                   <div id="tab1" class="tab-content active">
                     <ul class="channels_list row animatedParent " data-sequence="400">
                       <li class="col-xs-12 col-sm-4 animated fadeInLeftShort" data-id="1"> 
                         <a href="#"><i class="fa fa-circular fa-music"></i>poison itunes</a>
                       </li>
                       <li class="col-xs-12 col-sm-4 animated fadeInLeft" data-id="2">
                         <a href="#"><i class="fa fa-soundcloud"></i>poison soundcloud</a>
                       </li>
                       <li class="col-xs-12 col-sm-4  animated fadeInLeft" data-id="3"> 
                         <a href="#"><i class="fa fa-youtube"></i>poison youtube</a></li>
                       <li class="col-xs-12 col-sm-4 animated fadeInLeft" data-id="4"> 
                         <a href="#"><i class="fa fa-instagram"></i>poison Instagram</a></li>
                       <li class="col-xs-12 col-sm-4  animated fadeInLeft" data-id="5"> 
                         <a href="#"><i class="fa fa-flickr"></i>poison Flicker</a></li>
                       <li class="col-xs-12 col-sm-4  animated fadeInLeft" data-id="6"> 
                         <a href="#"><i class="fa fa-pinterest"></i>poison pinterest</a></li>
                     </ul>
                   </div>
                   <div id="tab2" class="tab-content animatedParent">
                     <div class="contactFormWrapper ">
                       <form id="contactform" action="https://xvelopers.com/html/poison/assets/php/submit.php" method="post">
                         <div class="row">
                           <div class="col-xs-12 col-md-4">
                             <input type="text" id="name" placeholder="Name" />
                           </div>
                           <div class="col-xs-12 col-md-4">
                             <input type="text" name="email" id="email" placeholder="Email" />
                           </div>
                           <div class="col-xs-12 col-md-4">
                             <input type="text" name="subject" id="subject" placeholder="Subject" />
                           </div>
                           <div class="col-xs-12 col-md-8">
                             <textarea placeholder="Message" name="message" id="message"></textarea>
                           <div class="col-xs-12 col-md-4">
                             <button class="btn btn-default" id="submit1" type="submit">
                               send message
                             </button>
                           </div>
                         </div>
                       </form>
                       <div id="valid-issue" style="display:none;"> Please Provide Valid Information</div>
                     </div>
                   </div>
                 </div>
                  <div class="row">
                   <div class="col-xs-12">
                     <div class="copyrights">&copy; {{ site.time | date: '%Y' }} <a href="#">poison music</a>.</div>
                   </div>
                 </div>
               </div>
             </div>
         </footer>
        {% endcase %} 
   {% endfor %}
  </div>
</div>